.gallery {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}


@media (min-width: $breakpoint-mobile) {
	.gallery {
		max-width: 1240px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 50px;
		background-color: $color-secondary;
		border-radius: 25px;
		padding: 56px 50px;
	}
}