.menu {
	font-size: 12px;
	text-transform: uppercase;

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 26px;
		list-style-type: none;

		li	a {
				text-decoration: none;
				color: black;

				&.activelink {
					text-decoration: underline;
				}
			}
	}
}


@media (min-width: $breakpoint-mobile) {
	.menu {
		font-size: 24px;
		text-transform: none;

		ul {
			gap: 57px;
		}
	}
}