.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	height: auto;

	.tag {
		@include flex-center;
		height: 18px;
		font-size: 10px;
		font-weight: bold;
		background-color: $color-primary;
		color: white;
		border-radius: 5px;
		padding: 0 10px;
		min-width: 84px;
	}
}


@media (min-width: $breakpoint-mobile) {
	.tags {
		margin-top: 18px;
		gap: 10px;

		.tag {
			font-size: 14px;
			min-width: 115px;
			height: 25px;
		}
	}
}