// VARIABLES

$color-primary: #FF6060;
$color-secondary: #F6F6F6;
$color-tertiary: #e3e3e3;
$breakpoint-mobile: 650px;
$banner-url-desktop: "/assets/image_source_1_1240.webp";
$banner2-url-desktop: "/assets/image_source_2_1240.webp";

// MIXINS

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hw100 {
	height: 100%;
	width: 100%;
}

@mixin star-filled {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color: $color-primary;
}

@mixin star-empty {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color: $color-tertiary;
}


// GLOBAL CSS

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	font-weight: 500;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header, main {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
}

// main {
// 	min-height: 66vh;
// }

li {
	list-style: none;
}
